.transactionCard {
    background-color: aliceblue;
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 10px 10px 5px #666;
    height: fit-content;
    width: 60%;
}

.green, .red, .yellow {
    display: inline;
    text-shadow: 1px 1px black;
}

.green {
    color: green;
}

.red {
    color: red;
}

.yellow {
    color: yellow;
}